@charset "UTF-8";
body{
    background-color: rgb(107, 189, 148);
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    color: rgb(255, 0, 0);
    
}
h1#principal{
    text-align: center;
    background-color: rgb(11, 110, 36);
}
h2 {
    color: blue;
}
.basico{
color: rgb(255, 94, 0);
font-style: italic;
}
.Intermediario {
color: green;
font-style: italic;
}
.avancado {
color: yellow;
font-style: italic;
}