@charset "UTF-8";

/*config gerais*/

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
}
h1 {
    color: white;
    text-shadow: 3px 3px 0px rgb(43, 42, 42);
}